
/* navbar */
.navbar_nav--icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-right{
    position: absolute;
    right: 0;
}

.top{
    height: 50px;
}

  /* header & footer */
.page-footer,
.pos-f-t{
    box-shadow: 10px 0px 35px 20px rgba(0, 0, 0, 0.1);
}

.page-footer{
    position: fixed;
    width: 100%;
    bottom: 0;
}
.pos-f-t{
    position: fixed;
    width: 100%;
    z-index: 99999;
}

/* AJAX */
td {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

td.seeComment:hover i {
    transition: all 0.2s ease;
    color: #29a745!important;
}