
   body {
     font-family: 'Lato';
   }
   
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
     font-family: 'Catamaran';
     font-weight: 800 !important;
   }

 .error {
 }

   .btn-xl {
     text-transform: uppercase;
     padding: 1.5rem 3rem;
     font-size: 0.9rem;
     font-weight: 700;
     letter-spacing: 0.1rem;
   }
   .bg-black {
     background-color: #000 !important;
   }
   
   .rounded-pill {
     border-radius: 5rem;
   }
   
   .navbar-custom {
      display: flex;
      flex-direction: inherit;
      justify-content: flex-end;

      position: fixed;
      width: 100%;
      z-index: 9999;
      padding: 10px;

      background-color: white;

  
   }
   .navbar-custom--item {
     transition: all 0.4s ease-in-out;
     text-transform: uppercase;
     letter-spacing: 1px;
     font-weight: 500;
     padding: 5px 20px;
     border-right: 2px solid #999999;
   }
   .navbar-custom--item:last-child{
     border: none;
   }

   .navbar-custom--item:hover {
     color: #212529;
   }

  
   
   header.masthead {
     display: flex;
     align-items:center;
     justify-content: center;
     position: relative;
     overflow: hidden;
     padding-top: 51px;
     background-color: #fff;
   }
   
   header.masthead .masthead-content {
     z-index: 1;
     position: relative;
   }
   
   header.masthead .masthead-content .masthead-heading {
     font-size: 4rem;
   }
   
   header.masthead .masthead-content .masthead-subheading {
     font-size: 2rem;
   }

   
   @media (min-width: 992px) {
     header.masthead .masthead-content .masthead-heading {
       font-size: 6rem;
     }
     header.masthead .masthead-content .masthead-subheading {
       font-size: 4rem;
     }
   }
   
   .bg-primary {
     background-color: #ee0979 !important;
   }
   
   .btn-primary {
     background-color: #ee0979;
     border-color: #ee0979;
   }
   
   .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
     background-color: #bd0760 !important;
     border-color: #bd0760 !important;
   }
   
   .btn-primary:focus {
     -webkit-box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
     box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
   }
   
   .btn-secondary {
     background-color: #ff6a00;
     border-color: #ff6a00;
   }

   .btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
     background-color: #cc5500 !important;
     border-color: #cc5500 !important;
   }
   
   .btn-secondary:focus {
     -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
     box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
   }

  /* VIEW HOME */
  .home_articles--title {
    color: #212529;
    letter-spacing: 2px;
  }
  .home_articles--items a {
      color: #212529;
  }
  .home_articles--items a:hover{
      color: #212529;
      text-decoration: none;
  }
  .owl-carousel__container {
    background-color: white;
  }

  /* VIEW BLOG GRID MASONRY */

  .grid-item {
    float: left;
    width: 100%;
    background-color: white ;
  }
  .blog-grid_content {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 350px;
    margin: 10px;
    background-color: black;
    color: white;
    font-size: 18px;
  }
  .blog-grid__btn {
    width: 100%;
    position: static;
  }

  @media all and (min-width: 768px){
    .grid-item{
      width: calc(50%);
    }
  }
  @media all and (min-width: 1024px){
    .grid-item{
      width: 33.3333333%;
    }
  }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  }

  /* VIEW POST */
  .post .form-group{
    padding: 0!important;
  }
  .post .masthead {
    padding: 55px 0rem;
    background-position: center;
  }

  .post .signalComment {
    position: absolute;
    top: 10px;
    right: 10px;
    color: red;
    cursor: pointer;
  } 
  .post .post_article--title {
    color: #212529;
    padding-bottom: 5px;
    border-bottom: 1px solid #212529;
  }

  .post-content {
    padding: 25px 25px;
  }

  button.send-post {
    width: 100%;
    margin: auto;  
    border-radius: 2px;
    border: none;
    padding: 10px 0; 
  }